!zig build debug

set style enabled on
set verbose off
file zig-out/bin/jaslc-debug
# set args --working test main.jasl --supress-warnings -o test -I ../stdlib/ && test/build/c/test
set args --working demo/brainfuck/ main.jasl --supress-warnings -o bfint -I ../../stdlib

r
