!zig build debug

set style enabled on
set verbose off
file zig-out/bin/cole-debug
# set args --working test main.cole --supress-warnings -o test -I ../stdlib/ && test/build/c/test
# set args --working demo/brainfuck/ main.cole --supress-warnings -o bfint -I ../../stdlib
set args -O 1  --working test main.cole --supress-warnings -o test -I ../stdlib

r
