!zig build debug

set style enabled on
set verbose off
file zig-out/bin/cole-debug
# set args --working demo/brainfuck/ main.cole --supress-warnings -o bfint -I ../../stdlib
# set args -O 1  --working test main.cole --supress-warnings -o test -I ../stdlib
set args --working demo/raylib/ main.cole --supress-warnings -o bfint -I ../../stdlib --debug

r
i stack
q
